.Drawer {
    position: fixed;
    left: 1vh;
    top: 10vh;
    /*bottom: 61vh;*/
    width: 40%;
    max-width: 295px;
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid grey;
    border-radius: 10px;
    opacity: 0.8;
    transform: translateX(0px);
    transition: transform .44s ease-in;
    z-index: 90;
}

.Drawer.close {
    transform: translateX(-300px);
}

.Drawer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.Drawer ul li {
    margin-bottom: 5px;
}

.Drawer ul li a {
    color: black;
    font-style: italic;
    text-decoration: none;
    background-color: #fff;
    position: relative;
    padding: 0 5px 10px 5px;
    transition: all .3s;
}

.Drawer ul li a:hover{
    font-weight: 500;
} 

.active {
    font-weight: 500;
    cursor: none;
}

