.Pagination {
  margin-bottom: 20px;
  display: inline-block;
  padding: 20px 40px;
  background-color: #fff;
  font-weight: 500;
}

.Pagination button {
  font-weight: 500;
  background-color: transparent;
  padding: 5px 10px;
  border: 1px solid #e7e7e7;
  cursor: pointer;
  outline: none;
}

.Pagination button.active {
  background-color: rgba(229, 229, 241, 1);
  font-weight: 700
}
