.tooltipWrapper {
  position: relative;
}

.targetElement {
  cursor: pointer;
}

.tooltip {
  position: absolute;
  padding: 5px 20px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #EDEDED;
  min-width: 80px;
  font-size: 12px;
  box-sizing: border-box;
  box-shadow: 1px 1px 10px #777;
  z-index: 9999;
}

.top {
  bottom: 130%;
  transform: translateX(-50%);
  left: 50%;
}

.bottom {
  top: 130%;
  transform: translateX(-50%);
  left: 50%;
}

.right {
  left: 130%;
  transform: translateY(-50%);
  top: 50%;
}

.left {
  right: 130%;
  transform: translateY(-50%);
  top: 50%;
}
