.Button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    color: #000;
    font-weight: 500;
    font-size: 14px;
    font-style: italic;
    box-sizing: border-box;
}

.Button:focus {
    outline: none;
}

.Button:active {
    border-left: 3px solid white;
    
    
}

.Button:disabled {
    background: #ccc;
    color: #000;
    cursor: not-allowed;
}

.error {
    background: rgba(240, 87, 108, 1);
}

.success {
    background: rgba(161, 240, 69, 1);
}

.primary {
    background: #60778e;
    color: #fff;
}